{% extends "base_generic.html" %}

{% block content %}
<table class="table table-responsive">
        <tr>
            <th colspan="2">Current Inventory Overview</th>
        </tr>
        <tr>
            <th scope="row"><a href="{% url 'tool' %}">Total Unique Tools</a></th>
            <td>{{num_tool}}</td>
        </tr>
        <tr>
            <th scope="row"><a href="{% url 'toolsn' %}">Total Tool Count</a></th>
            <td>{{num_toolSN}}</td>
        </tr>
        <tr class="table-danger">
            <th scope="row"><a href="{% url 'toolsnrepair' %}">Total requiring repair</a></th>
            <td>{{num_repair}}</td>
        </tr>
        <tr class="table-warning" >
            <th scope="row"><a href="{% url 'toolsnpm' %}">Total requiring PM</a></th>
            <td>{{num_pm}}</td>
        </tr>
        <tr class="table-danger" style="display:hidden">
            <th scope="row"><a href="{% url 'toolsndup' %}">Total duplicate toolsn</a></th>
            <td>{%for q in num_dup%}{{q}}{%endfor%}</td>
        </tr>
</table>
<h3>Tools Requiring Immediate Attention</h3>
	<table id="tool_list" class="table table-hover table-striped table-responsive table-bordered table-sm">
		<thead class="thead-inverse">
			<tr>
				<th>Tool Number (Name)</th>
				<th>Min. Required</th>
				<th>Count <span style="color:green">(Working)</span></th>
				<th>Primary Discipline</th>
				<th>Secondary Discipline</th>
			</tr>
		</thead>

		<tbody>
			{% for tool in urgent_tools %}
					<tr class="table-danger">
						<td><a href="{{ tool.get_absolute_url }}">{{tool}}</a></td>
						<td>{{ tool.minneeded }} </td>
					    <td>{{ tool.total_count }} <span style="color:green">({{ tool.working_count }})</span></td>
						<td>{{ tool.primdisc }}</td>
						<td>{{ tool.secdisc }}</td>
					</tr>
			{% endfor %}
		</tbody>

	</table>
{% endblock %}
