{% extends "base_generic.html" %}

{% block content %}
	<h1>Tools located in {{ location }}</h1><b>{{ location.toolsn_set.count }} tools here</b>
		
	<table id="location_detail" class="table table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Tool Number (Name) - SN</th>
				<th>Needs Repair?</th>
				<th>PM Done?</th>
				<th>Primary Discipline</th>
				<th>Secondary Discipline</th>
			</tr>
		</thead>
		<tbody>
			{% for toolsn in location.toolsn_set.all %}
				<tr class="{% if toolsn.pm != 'Yes'%}warning{% endif %} {% if toolsn.repair == 'Yes'%}danger{% endif %}" >
					<td><a href="{% url 'toolsn-detail' toolsn.id %}">{{ toolsn }}</a></td>
					<td>{{ toolsn.repair }}</td>
					<td>{{ toolsn.pm }}</td>
					<td>{{ toolsn.tool.primdisc }}</td>
					<td>{{ toolsn.tool.secdisc }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
		<hr>	

<!-- table filter js -->
	<script language="javascript" type="text/javascript">
		var props01 = {		
			col_1:'none',
			col_3: 'select',
			col_4:'select',
			col_5:'select',

			};
			
		var tf = new TableFilter("location_detail",props01);
		tf.init();	
	</script>

{% endblock %}