{% extends "base_generic.html" %}

{% block content %}
	<h1>Location List</h1>
	<a href="{% url 'location-create' %}" class="btn btn-primary"> Add New Location </a>
	<hr>
	{% if location_list %}
	<table class="table table-striped table-hover table-responsive table-sm">
		<thead>
			<tr>
				<th>Location</th>
				<th>Tools at location</th>
				<th>Notes</th>
			</tr>
		</thead>

		<tbody>
			{% for loc in location_list %}
				<tr>
					<td><a href="{% url 'location-detail' loc.id %}">{{ loc }}</a></td>
					<td>{{loc.tool_count}}
					<td>{{loc.notes}}</td>
				</tr>

			{% endfor %}
		</tbody>

	</table>

	{% else %}
		<p>There are currently no entered locations </p>

	{% endif %}
{% endblock %}
