{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ toolsn }}</h1>
	<div class="row">
		<div class="col-md-6"><a href='{% url 'tool-detail' toolsn.tool.id %}'>See all SNs for {{toolsn.tool.num}}</a></div>
	</div>
	<div class="row">
		<div class="col-md-1"><a href="{% url 'toolsn-update' toolsn.id %}"> Update </a></div>
		<div class="col-md-1"><a href="{% url 'toolsn-delete' toolsn.id %}"> Delete </a></div>
	</div>
	<table width= "500px">
		<tr><th width="150px">Location:</th><td>{{ toolsn.location }}</td></tr>
		<tr><th>PM Complete?:</th><td>{{ toolsn.pm }}</td></tr>
		<tr><th>Needs Repair?:</th><td>{{ toolsn.repair }}</td></tr>
		<tr><th>Borrower:</th><td>{{ toolsn.borrower }}</td></tr>
		<tr><th>Last Checked:</th><td>{{ toolsn.checkdate }}</td></tr>
		<tr><th>Comments:</th><td>{{ toolsn.comments }}</td></tr>
	</table>

{% endblock %}
