{% extends "base_generic.html" %}

{% block content %}
	<h1>Duplicate ToolSN List</h1>
    <p>
        This list should be kept empty. If any ToolSNs show up here it's because it has a duplicate SN number
        and must be changed to keep all of our tools unique.
    </p>
	<table id="toolsn_list" class="table table-striped table-hover table-responsive table-sm">
		<thead class="thead-light">
			<tr>
				<th>Tool Number (Name) - SN</th>
				<th># of Duplicates</th>
			</tr>
		</thead>

		<tbody>
			{% for toolsn in duplicate_tools %}
				<tr>
					<td><a href="{% url 'tool-detail' toolsn.tool_id %}">{{ toolsn }}</a></td>
					<td>{{ toolsn.dupcount }}</td>
				</tr>
			{% empty %}
			    <tr>
			        <td colspan="2">There are no duplicate SNs</td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}