{% extends "base_generic.html" %}
{% block content %}
	<h1>My Borrowed Tools as of {% now "F d, o" %}</h1>

	{% if vaultlog_list %}
	<table class="table table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>Tool</th>
				<th>Borrow Date</th>
				<th>Return Date</th>
				<th>Borrower</th>
				{% if perms.catalog.can_mark_returned %}
				<th>Renewal</th>
				{% endif %}
			</tr>
		</thead>
		
		<tbody>
		{% for log in vaultlog_list %}
			<tr {% if log.is_overdue %} class="table-danger" {% endif %} >
				<td><a href="{% url 'toolsn-detail' log.toolsn_id %}">{{ log.toolsn }}</a></td>
				<td>{{ log.borrowdate }}</td>
				<td>{{ log.returndate }}</td>
				<td>{{ log.borrower }}</td>
				<!-- Renew option -->
				{% if perms.catalog.can_mark_returned %} 
				<td><a href="{% url 'renew-tool' log.toolsn_id %}">Renew</a></td> 
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %}
		<p>I currently have no tools</p>
	
	{% endif %}

{% endblock %}