{% extends "base_generic.html" %}

{% block content %}
	<h1>{{ tool }}</h1>

	<div class="row">
		<div class="col-md-6" >
			<strong>Primary Discipline:</strong> {{ tool.primdisc }}
			<br>
			<strong>Secondary Discipline:</strong> {{ tool.secdisc }}
			<br>
			<strong>DNGS CatID:</strong> {{ tool.dcatid }}
			<br>
			<strong>PNGS CatID:</strong> {{ tool.pcatid }}
			<br>
			<strong>Drawings:</strong> {{ tool.draw }}
			<br>
			<strong>Tool Notes:</strong> {{ tool.notes }}
		</div>
		<div class="col-md-6">
			<h3>Quantities</h3>
			<div><strong>Total:</strong> {{ tool.toolcount }}</div>
			<div><strong>Working Order:</strong> {{ tool.workingcount }}</div>
			<div><strong>Need PM Done:</strong> {{ tool.pmcount }}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href="{% url 'toolsn-create' tool.id %}" class="btn btn-primary"> Add new SN </a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover table-bordered">
				<thead class="thead-light">
					<th>Tool SN</th>
					<th>Tool Location</th>
					<th>Needs Repair?</th>
					<th>Pm Done?</th>
					<th>Last Checked</th>
					<th>Is Borrowed</th>
					<th>Is In Vault</th>
					<th>Comments</th>
				</thead>
				<tbody>
					{% for toolsn in tool.toolsn_set.all %}
						<tr class="{% if not toolsn.pm %}table-warning{% endif %} {% if toolsn.repair%}table-danger{% endif %}" >							<th scope="row"><a href="{% url 'toolsn-detail' toolsn.id %}">{{ toolsn }}</a></th>
							<td>{{ toolsn.location }}</td>
							<td>{{ toolsn.repair }}</td>
							<td>{{ toolsn.pm }}</td>
							<td>{{ toolsn.checkdate }}</td>
							<td>{{ toolsn.is_checkedout }}</td>
							<td>{{ toolsn.is_invault }}</td>
							<td>{{ toolsn.comments }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}