{% extends "base_generic.html" %}

{% block content %}
	<h1>Vault Log</h1>

	{% if vaultlog_list %}
	<table id="vaultlog_list" class="table table-striped table-hover table-responsive">
		<thead class="thead-light">
			<tr>
				<th>Tool Number</th>
				<th>Borrowed By</th>
				<th>Approved By</th>
				<th>Borrow Date</th>
				<th>Return Date</th>
				<th>Returned?</th>
				<th>Action Done on</th>
			</tr>
		</thead>

		<tbody>
			{% for log in vaultlog_list %}
				<tr {% if log.is_overdue %} class="table-warning" {% endif %} >
					<td><a href="{% url 'toolsn-detail' log.toolsn_id %}">{{ log.toolsn }}</a></td>
						<td>{{ log.borrower }}</td>
						<td>{{ log.approvedby }}</td>
						<td>{{ log.borrowdate }}</td>
						<td>{{ log.returndate }}</td>
						<td>{{ log.isreturned }}</td>
						<td>{{ log.time }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% else %}
		<p>There are no borrowing logs </p>

	{% endif %}

<!-- table filter js -->
	<script language="javascript" type="text/javascript">
		var props02 = {
			col_1:'none',
			col_2:'none',
			col_3:'none',
			col_4:'none',
			col_5:'none',
			col_6:'none',
			col_7:'none',
			};

		var tf03 = new TableFilter("vaultlog_list",props02);
		tf03.init();
	</script>

{% endblock %}